<div class="container">
  	<div class="row item-info">
		<h3>PRODUCTS LINEUP</h3>
		<p>商品ラインナップ</p>
	</div>
	<div class="f-container">
		<% @genres.each do |genre| %>
		    <%= link_to items_path(genre_id: genre.id) do %>
				<div class="btn-border"><%= genre.name%></div>
			<% end %>
		<% end %>
	</div>
	<div class="row">
	  <div class="col-xs-12 public items_index">
			<% if params[:genre_id] %>
				<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> <%= @genre.name %>(<%= @all_items_count %>)</h2>
			<% else %>
				<h2 class="section-top"><span class="fas fa-dumbbell" aria-hidden="true"></span> Item List (<%= @all_items_count %>)</h2>
			<% end %>
			<div class="box-list">
				<% if @items.first %>
					<% @items.each do |item| %>
						<div class="list public items_index Opacity">
							<%= link_to item_path(item) do %>
								<figure class="Opacity"><%= attachment_image_tag item, :image, :fill, 210, 210, format: "jpeg", size:"210x210", fallback: "no-image.png",class: "Opacity"%></figure>
							<% end %>
							<h5><%= item.genre.name %></h5>
							<p><%= item.name %></p>
							<p class="text-right">
								<%= item.with_tax_price %>円  (税込)
							</p>
							<%= link_to item_path(item) do %>
								<div class="btn btn-sm btn-hachiss">詳細を見る</div>
							<% end %>
						</div>
					<% end %>
				<% else %>
					<h3>対応する商品はありませんでした。</h3>
				<% end %>
			</div>
		</div>
		<div class="paginate"><%= paginate @items %></div>
	</div>
</div>
