<header>
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item nav-link"><%= link_to 'おねがいプロテイン', root_path, class: "logo" %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item nav-link"><%= link_to 'マイページ', mypage_path %></li>
      <li class="nav-item nav-link"><%= link_to '商品一覧', items_path %></li>
      <li class="nav-item nav-link"><%= link_to 'カート', cart_items_path %></li>
      <li class="nav-item nav-link"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
    </ul>
  </div>
</header>