<div class="container-fluid" style="background-color: #2d334a; border-top: 3px solid #272343;">
    <section class="cta bg-blue-grey text-white py-4 border-bottom border-secondary"></section>
    <section class="footer bg-blue-grey text-grey ">
        <div class="container py-5">
            <div class="row d-flex ">
                <div class="col-12 col-md-3 col-sm-6 col-xs-6">
                    <h6 style="color: #bae8e8;">ONEGAI-PROTEIN</h6>
                    <ul class="list-unstyled">
                        <li><%= link_to "ホーム", root_path, style:"color: #fffffe;" %></li>
                        <div class="mt-2"></div>
                        <% unless customer_signed_in? %>
                            <li><%= link_to "会員ログイン", new_customer_session_path, style:"color: #fffffe;" %></li>
                            <div class="mt-2"></div>
                            <li><%= link_to "会員登録", new_customer_registration_path, style:"color: #fffffe;" %></li>
                            <div class="mt-2"></div>
                        <% end %>
                        <% if customer_signed_in? %>
                            <li><%= link_to "ショッピングカート", items_path, style:"color: #fffffe;" %></li>
                            <div class="mt-2"></div>
                            <li><%= link_to "マイページ", items_path, style:"color: #fffffe;" %></li>
                            <div class="mt-2"></div>
                            <li><%= link_to "トレーニングメモ", memos_path, style:"color: #fffffe;" %></li>
                            <div class="mt-2"></div>
                        <% end %>
                        <li><%= link_to "商品一覧", items_path, style:"color: #fffffe;" %></li>
                        <div class="mt-2"></div>
                        <li><%= link_to "アバウト", about_path, style:"color: #fffffe;" %></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-sm-6 col-xs-6">
                    <% unless customer_signed_in? %>
                        <h6 style="color: #ffd803;">管理者用</h6>
                        <ul class="list-unstyled">
                            <li><%= link_to "管理者ログイン", new_admin_session_path, style:"color: #fffffe;" %> </li>
                        </ul>
                    <% end %>
                </div>
                <div class="col-12 col-md-6 col-sm-12 col-xs-12">
                    <div class="footer-logo float-right"></div>
                </div>
            </div>
        </div>
        <div class="copyright text-center py-3 bg-blue-grey border-top border-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-white">
                        © 2020 ONEGAI-PROTEIN. All Rights Reserved
                    </div>
                    <div class="col-md-6 text-white">
                        <ul class="list-inline">
                            <li class="list-inline-item">follow us on :</li>
                            <li class="list-inline-item"><a href="#" class="text-primary"><i class="fab fa-facebook mr-1"></i>facebook</a></li>
                            <li class="list-inline-item"><a href="#" class="text-info"><i class="fab fa-twitter mr-1"></i>Twitter</a></li>
                            <li class="list-inline-item"><a href="#" class="text-danger"><i class="fab fa-youtube mr-1"></i>Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>