<!DOCTYPE html>
<html>
  <head>
    <title>onegai_protein</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-6">
        <h2 class="title_logo">ONEGAI-PROTEIN</h2>
      </div>
      <div class="col-xs-3 top_sub_title">
        プロテイン購入から、<br>トレーニング管理まで出来るアプリ。
      </div>
    </div>
    <% if admin_signed_in? %>
      <%= render 'layouts/admin_header'%>
    <% elsif customer_signed_in? %>
      <%= render 'layouts/customer_header' %>
    <% else %>
      <header>
        <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li class="nav-item nav-link">
              <%= link_to "おねがいプロテイン",root_path %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item nav-link"><%= link_to '商品一覧', items_path %></li>
            <li class="nav-item nav-link"><%= link_to '新規登録', new_customer_registration_path %></li>
            <li class="nav-item nav-link"><%= link_to 'ログイン', new_customer_session_path %></li>
            <li class="nav-item nav-link"><%= link_to 'ゲストログイン（お客様用）', guests_guest_sign_in_path, method: :post %></li>
            <li class="nav-item nav-link"><%= link_to 'ゲストログイン（管理者用）', admin_admin_guest_sign_in_path, method: :post %></li>
          </ul>
        </div>
      </header>
    <% end %>

    <main>
    <% if flash[:notice] %>
    <div class="notice"><%= notice %></div>
    <% end %>
      <%= yield %>
    </main>

    <footer class="footer">
      <% if admin_signed_in? %>
        <%# 管理者用フッター %>
        <%= render 'layouts/admin_footer' %>
      <% else %>
        <%# 会員・ゲスト用フッター %>
        <%= render 'layouts/customer_footer' %>
      <% end %>
    </footer>
     <!-- モーダル・ダイアログ -->
     <%= render 'layouts/modal' %>
  </body>
</html>
